.message {
    border-radius: 50px;
    margin: 0 15px 10px;
    padding: 15px 20px;
    position: relative;
    font-weight: bold;
}
.message.to {
    background-color: rgba(0, 228, 57, 0.459);
    color: #fff;
    margin-left: 100px;
    text-align: right;
}
.message.from {
    background-color: #E5E4E9;
    color: #363636;
    margin-right: 100px;

}
.message.to + .message.to,
.message.from + .message.from {
margin-top: -10px;
}
input:focus {
    outline: none !important;
    border-color: rgba(7, 161, 46, 0.459);
}
.button-color {
    background-color: rgba(0, 228, 57, 0.459);
    border-color: rgba(0, 228, 57, 0.459);
}

